.navbar{
    display: flex;
    gap: 20px;
    justify-content: center;

}
.home{
    background-image: url(bgg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.para{
    display: flex;
   text-align: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.main{
    
    width: 100%;
    height: 100vh;
}

.homecontent{
    color: rgb(76, 8, 59);
    text-align: center;
    font-size: 50px;
    margin-top: -50px;

}
.head{
    font-size: 230px;
    font-weight: bolder;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.navi{
    word-spacing: 270px;
    padding: 50px;
    text-align: center;
    font-size: 30px;

}
.men{
    font-size: 60px;
    background-color: lavender;
    text-align: center;
   
}
.men1{
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:rgb(213, 182, 213);
    
}
.men2{
    padding: 1cm;
    flex-basis: 20%;
}
.men1>img{
    padding-bottom: 20px;
}
.btn{
    background-color: pink;
    color: rgb(24, 85, 110);
    border: 3px solid plum;
    
}
.cnt{
    font-size: 60px;
    background-color: lavender;
    text-align: center;
}
.cnt2{
    text-align: start;
    font-size:xx-large;
    color: rgb(163, 225, 225);
    font-weight: 800;
    font-style: italic;
    

}
.form{
    background-color:rgb(213, 182, 213);
    padding: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    
}
.submit{
    text-align: center;
    font-size: 80px;
}
.foot{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 2cm;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    padding: 1.5rem;
}